---
import "../styles/index.scss";

import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import HeroCTA from "../components/svelte/HeroCta.svelte";
import AboutCard from "../components/astro/AboutCard.astro";
import worldMission from "../images/world-mission.jpg";
import hands from "../images/hands.jpg";
import eye from "../images/eye.jpg";
---

<script>
  $(".large-hero-image").css({ display: "none" }); 
  $('img:not(:first)').attr('loading', () => "lazy");
  $(function () {
    if (innerWidth > 768) {
      $(".large-hero-image").css({
        display: "flex",
      });
      $('img').attr('loading', () => "lazy");
    }
  });
</script>

<MainLayout title="Oseelabs | Home of Creativity">
  <h1 class="visually-hidden">
    Oseelabs.org Homepage — Where creativity meets genius
  </h1>

  <section class="hero" role="banner" title="Hero Banner Section">
    <h2 class="visually-hidden">Oseelabs Hero Banner</h2>
    <span class="large-hero-image"></span>
    <div
      class="hero__content"
      aria-label="Hero Content Container"
      title="Hero Content"
      role="region"
    >
      <h2 class="hero__title" title="Welcome">Welcome to Oseelabs</h2>
      <p
        aria-label="hero description text"
        title="descrption text"
        class="hero__description"
      >
        Where creativity meets genius
      </p>
      <p
        aria-label="hero description information"
        title="site information"
        class="info"
      >
        We are a team of creative minds who are passionate about building
        innovative solutions that solve real-world problems.
      </p>

      <div class="cta">
        <HeroCTA
          url="/about"
          label="Learn More"
          title="Learn More About Oseelabs"
          bgColor="var(--color-black)"
          color="var(--color-white)"
          client:load
        />
      </div>
    </div>
  </section>

  <section class="about">
    <h2 class="about__title">About Us</h2>
    <h3 class="visually-hidden">About Oseelabs</h3>
    <div class="about__content">
      <AboutCard
        title="Our Mission"
        image={worldMission}
        roundedFull={true}
        loading="eager"
        description="We are a team of creative minds who are passionate about building innovative solutions that solve real-world problems."
        cta="Meet the Team"
        ctaLink="/about"
      />
      <AboutCard
        title="Our Vision"
        image={eye}
        roundedFull={true}
        description="We are a team of creative minds who are passionate about building innovative solutions that solve real-world problems."
        cta="Learn More"
        ctaLink="/about"
      />
      <AboutCard
        title="Our Values"
        image={hands}
        rounded="3em"
        description="We are a team of creative minds who are passionate about building innovative solutions that solve real-world problems."
        cta="Get Started"
        ctaLink="/about"
      />
    </div>
  </section>
</MainLayout>
